<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Resources</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>



<header>
  <div th:replace="~{fragments/menu :: div}"></div>
</header>

<body>
<div style="margin-top: 600px;">
  <div class="text-center">
    <img th:src="@{/img/cone.jpeg}" width=auto height=200>
  </div>
  <p class="text-center font-weight-bold w-responsive mx-auto mt-5 mb-5">Patience, this page is currently under construction.</p>

</div>


</body>

<footer>
  <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</html>