<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Patient Record</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="container">

  <div th:replace="~{fragments/menu :: div}"></div>
  <div class="row" style="height: 16rem"></div>

  <div class="row">
    <div class="col-sm-4">
      <h2 class="font-weight-bold mb-5" style="color: #128499;">Record</h2>
      <p>Patient: <span th:text="${record.firstName}"></span> <span th:text="${record.lastName}"></span></p>
      <p>Sex: <span th:text="${record.sex}"></span></p>
      <p>Birthdate: <span th:text="${record.birthdate}"></span></p>
      <p>Address: <span th:text="${record.address}"></span></p>
      <p>Phone: <span th:text="${record.phone}"></span></p>
      <p>Age: <span th:text="${record.age}"></span> years</p>
      <p>Diabetes assessment is:</p>
      <h1><span class="badge font-weight-bold"
               th:text="${record.assessment}"
               th:style="${record.assessment == 'None' ? 'color: green;' : (record.assessment == 'Borderline' ? 'color: #FCBB40;' : (record.assessment == 'In Danger' ? 'color: orange;' : 'color: red;'))}"></span></h1>
    </div>
    <div class="col-sm-8">
      <h2 class="font-weight-bold mb-5" style="color: #128499;">Notes</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Note</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="note : ${record.notes}">
            <td th:text="${note.note}"></td>
            <td th:text="${note.date}"></td>
            <td style="width: 15%" class="text-center">
              <div class="edit-delete">
                <form th:action="@{/record/patient/{patientId}/updateNote/{noteId}(patientId=${record.patientId},noteId=${note.id})}" method="get" style="display:inline-block;">
                  <input type="hidden" name="_method" value="update">
                  <button style="background-color: Transparent;
              background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: blue;">Edit</button>
                </form>&nbsp;&nbsp;|&nbsp;
                <form th:action="@{/note/delete/{patientId}/{id}(patientId=${record.patientId},id=${note.id})}" method="post" style="display:inline-block;">
                  <input type="hidden" name="_method" value="delete">
                  <button style="background-color: Transparent;
              background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: red;">Delete</button>
                </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <form action="#" th:action="@{/note/validate/{patientId}(patientId=${record.patientId})}" th:object="${noteDto}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="note" th:field="*{note}" required placeholder="Note is mandatory"/>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
      </form>
    </div>
  </div>




  <div class="row" style="height: 2rem"></div>
</div>
</body>

<footer>
  <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</html>