<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Patient Record</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

  <style>
    .auto-height {
    border: none;
    resize: none;
  }

  table.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
  }
  table.table-striped tbody tr:nth-of-type(even) {
  background-color: #a9d4eb;
  }
  table.table-striped thead tr:nth-of-type(odd) {
    background-color: #128499;
    color: white;
  }
  </style>

  <script>
    function autoExpand(textarea) {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
    }
    window.onload = function() {
      var textareas = document.getElementsByTagName('textarea');
      for (var i = 0; i < textareas.length; i++) {
        autoExpand(textareas[i]);
      }
    }

    $(document).ready(function() {
          $('#notes-table table').DataTable( {
              orderFixed: [ 1, 'asc' ],
              paging: false,
              info: false,
              searching: false
          });
      });
  </script>
</head>

<body>
<div class="container">

  <div th:replace="~{fragments/menu :: div}"></div>
  <div class="row" style="height: 16rem"></div>

  <div class="row">
    <div class="col-sm-4 mt-5">
      <h2 class="font-weight-bold mb-5" style="color: #128499;">Record</h2>
      <p><strong><u>Patient:</u></strong> <span th:text="${record.firstName}"></span> <span th:text="${record.lastName}"></span></p>
      <p><strong><u>Age:</u></strong> <span th:text="${record.age}"></span> years</p>
      <p><strong><u>Sex:</u></strong> <span th:text="${record.sex}"></span></p>
      <p><strong><u>Birthdate:</u></strong> <span th:text="${record.birthdate}"></span></p>
      <p><strong><u>Address:</u></strong> <span th:text="${record.address}"></span></p>
      <p><strong><u>Phone:</u></strong> <span th:text="${record.phone}"></span></p>
      <br>
      <br>
      <div class="border p-3 d-inline-block">
      <p><strong><u>Diabetes assessment is:</u></strong></p>
      <h1 class="text-center"><span class="badge font-weight-bold"
               th:text="${record.assessment}"
               th:style="${record.assessment == 'None' ? 'color: green;' : (record.assessment == 'Borderline' ? 'color: #FCBB40;' : (record.assessment == 'In Danger' ? 'color: orange;' : 'color: red;'))}"></span></h1>
      </div>
    </div>
    <div class="col-sm-8 mt-5">
      <h2 class="font-weight-bold mb-5" style="color: #128499;">Notes</h2>
      <div id="notes-table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Note</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <tr th:each="note : ${record.notes}">
              <td>
                <textarea readonly th:text="${note.note}" class="form-control bg-transparent auto-height" onload="autoExpand(this)"></textarea>
              </td>
              <td th:text="${note.date}"></td>
              <td style="width: 15%" class="text-center">
                <div class="edit-delete">
                  <form th:action="@{/record/patient/{patientId}/updateNote/{noteId}(patientId=${record.patientId},noteId=${note.id})}" method="get" style="display:inline-block;">
                    <input type="hidden" name="_method" value="update">
                    <button type="submit" title="Edit the note" style="background-color:transparent;border:none;">
                      <i class="fa fa-edit" style="font-size:24px;color:blue"></i>
                    </button>
                  </form>
                  <form th:action="@{/record/patient/{patientId}/deleteNote/{id}(patientId=${record.patientId},id=${note.id})}" method="post" style="display:inline-block;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" title="Delete the note" style="background-color:transparent;border:none;">
                      <i class="fa fa-trash-o" style="font-size:24px;color:red"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5">
        <form th:action="@{/record/patient/{patientId}/addNote(patientId=${record.patientId})}" th:object="${noteDto}" method="post">
          <div class="form-group">
            <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
            <textarea class="form-control" id="note" th:field="*{note}" placeholder="Write your note here..." oninput="autoExpand(this)"></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>
    </div>
  </div>




  <div class="row" style="height: 2rem"></div>
</div>
</body>

<footer>
  <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</html>